# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
name: Java CI with Maven

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11.0.7
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
      - name: Build with Maven
        run:
          mvn install
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Echo the current ref
        run: echo "${{ github.ref }}"
      - name: Publish to GitHub Packages Apache Maven
        if: github.ref == 'refs/heads/develop'
        run: mvn deploy
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Create Snapshot Release
        uses: ncipollo/release-action@v1
        if: github.ref == 'refs/heads/develop'
        id: create_release
        with:
          name: Snapshot Release ${{ github.ref }}
          tag: SNAPSHOT
          artifacts: "target/ha-authcode-generation-service.jar"
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: false
          allowUpdates: true
